name: "Cleanup Workflows"
on:
  workflow_call:
    inputs: 
      sfopsbot-app-id: 
         description: The App id of the bot used for this workflow_call
         type: "string"
      metrics-provider:
        description: "The metrics provider to be used"
        type: "string"
    secrets:
      DATADOG_API_KEY:
        description: "Datadog api key to report metrics"
      DATADOG_HOST:
        description: "Datadog host to report metrics"
      SFOPSBOT_APP_PRIVATE_KEY:
        description: "Private key of the bot app used"
  


jobs:

  cleanup-workflows:
    runs-on: ubuntu-latest
    container: ghcr.io/flxbl-io/sfops-lite:latest
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
           app-id: ${{ inputs.sfopsbot-app-id }}
           private-key: ${{ secrets.SFOPSBOT_APP_PRIVATE_KEY }}


      - uses: Mattraks/delete-workflow-runs@v2
        id: deleteWorkflows
        name: Delete Skipped Workflows
        with:
            token: ${{ steps.app-token.outputs.token }}
            repository: ${{ github.repository }}
            delete_run_by_conclusion_pattern: skipped


