name: 'Create an environment'

on:
  workflow_call:

jobs:
   execute_action:
    runs-on: ubuntu-latest
    needs: issue-analyzer
    if: contains(github.event.issue.title, 'Ops - Request a new environment')
    steps:

     # gh needs a repo bummer
     - uses: actions/checkout@v3

     - name: Create environments
       uses: thijsvtol/create-environments@main
       with:
          token: ${{ secrets.GHA_TOKEN }}
          repo: ${{ github.repository }}
          environments: ${{ needs.issue-analyzer.outputs.name }}
          required_reviewers:  ${{ needs.issue-analyzer.outputs.envApprover }}

     - name: Setup Environment Variables
       env:
          GH_TOKEN: ${{ secrets.GHA_TOKEN }}
       run: |
          gh variable set  BRANCH  -e ${{ needs.issue-analyzer.outputs.name }}  --repo  ${{ github.repository }} -b  ${{ needs.issue-analyzer.outputs.branch }}
          gh variable set  TYPE  -e ${{ needs.issue-analyzer.outputs.name }}  --repo  ${{ github.repository }} -b  ${{ needs.issue-analyzer.outputs.type }}
          gh variable set  SBXNAME  -e ${{ needs.issue-analyzer.outputs.name }}  --repo  ${{ github.repository }} -b  ${{ needs.issue-analyzer.outputs.name }} 