
name: 'Freeze Users in an org'

on:
  workflow_call:
    inputs:
      environment:
          description: 'Name of the environment'
          type: 'string'
      org-name:
          description: 'The name of the org to be released'
          type: 'string'
      profiles: 
         description: 'Profiles that need be excluded from being frozen'
         required: true
         type: 'string'
    secrets: 
        DEVHUB_SFDX_AUTH_URL:
            description: 'Devhub Auth URL'
        SB_SFDX_AUTH_URL:
            description: 'Sandbox Auth URL'
      
            

jobs:
  freeze-an-org:
    runs-on: ubuntu-latest
    container: ghcr.io/dxatscale/sfpowerscripts-rc:alpha
    environment: ${{ inputs.environment }}
    steps:
      - uses: actions/checkout@v3
        with:
            fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
            node-version: "18" 
            registry-url: 'https://npm.pkg.github.com'

      - name: Lock enviroment 
        uses: ben-z/gh-action-mutex@v1.0-alpha-7
        if: ${{ inputs.environment != '' }}
        with:
          branch: ${{ inputs.environment }}-mutex

      - name: Authenticate to ${{ inputs.environment }}
        id: handle-auth
        uses: flxbl-io/sfops-gh-actions/authToEnvironment@main
        with: 
          DEVHUB_SFDX_AUTH_URL: ${{ secrets.DEVHUB_SFDX_AUTH_URL }}
          SB_SFDX_AUTH_URL: ${{ secrets.SB_SFDX_AUTH_URL }}
          environment: ${{ inputs.environment }}
          org-name: ${{ vars.SBXNAME }}
          environment-profile:  ${{ inputs.org-name }}    


      - name: Freeze Users
        uses: flxbl-io/sfops-gh-actions/freezeUsersInAnEnv@main
        with:
            target-org-alias: ${{steps.handle-auth.outputs.alias}}
            profiles: ${{ inputs.profiles }}
            
            
