name: "Static Analysis"
on:
  workflow_call:
    inputs:
      dashboard-repo: 
         description: Repo which contains the dashboard data
         type: "string"      
      sfopsbot-app-id: 
         description: The App id of the bot used for this workflow_call
         type: "string"
      metrics-provider:
        description: "The metrics provider to be used"
        type: "string"
    secrets:
      NPM_TOKEN:
        description: "GH TOKEN to publish to NPM"
      DEVHUB_SFDX_AUTH_URL:
        description: "Devhub Auth URL"
      SB_SFDX_AUTH_URL:
        description: "Sandbox Auth URL"
      DATADOG_API_KEY:
        description: "Datadog api key to report metrics"
      DATADOG_HOST:
        description: "Datadog host to report metrics"
      SFOPSBOT_APP_PRIVATE_KEY:
        description: "Private key of the bot app used"


jobs:

   
  static:
    name: 'static-analysis-of-Apex-classes-using-PMD'
    runs-on: ubuntu-latest
    container: ghcr.io/flxbl-io/sfops:latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
           app-id: ${{ inputs.sfopsbot-app-id }}
           private-key: ${{ secrets.SFOPSBOT_APP_PRIVATE_KEY }}
           owner: ${{ github.repository_owner }}


      - name: 'Initialize and Setup' 
        run: |
            sfdx plugins:install @salesforce/sfdx-scanner

      - name: 'Run sfdx-scanner'  
        run: |
            mkdir pmd
            sfdx scanner:run --target "src"  --pmdconfig "pmd-rulesets/pmd-ruleset.xml" --format "html" -o "pmd/pmdReport.html" 
            sfdx scanner:run --target "src"  --pmdconfig "pmd-rulesets/pmd-ruleset.xml" --format "csv" -o "pmd/pmdReport-csv.csv" 
            
      - name: 'Upload pmd results to sfops-dashboard'
        uses: flxbl-io/sfops-gh-actions/gitRepoCommitter@main
        with:
         source-dir: pmd
         commit-message: 'updated with pmd results'
         target-dir: pmd
         dashboard-repo: ${{ inputs.dashboard-repo }}
         gh_token: ${{ steps.app-token.outputs.token }}

